/* ==========================================================================
Color variables
========================================================================== */

$pure-white: #fff;
$hero-white: hsl(192,17%,99%);

$bg-grey: #EFF3F4;
$card-grey: #898989;

$link-blue: #3273dc;

$lg-red: rgba(153,0,51,1.0);
$lg-gray: rgba(153,153,153,1.0);
$theme-turquoise: #00d1b2;

$main-color: $theme-turquoise;